
<h1>Ajouter Client </h1> <hr>
<form #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)">
  <div class="row">
    <div class="col-md-6" >
      <div class="form-group">
        <label >Nom Client
        </label>
        <div class="input-group">
           
              <input name="client_nom" #client_nom="ngModel" [(ngModel)]="service.formData.client_nom" class="form-control" >

        </div>
        
      </div>

      <div class="form-group">
        <label >Adresse
        </label>
        
        <input name="client_adresse" #client_adresse="ngModel" [(ngModel)]="service.formData.client_adresse" class="form-control" >
      </div>
      
    
   
    
    </div>

    <div class="col-md-6">
        <div class="row">
        <div class="form-group col-md-9">
            
            <label >Num. Siret
            </label>
            <input name="client_siret" #client_siret="ngModel" [(ngModel)]="service.formData.client_siret" class="form-control" >
     
         </div>
          <div class="form-group col-md-3">
     
        <label >TVA
        </label>
        <input name="client_TVA" #client_TVA="ngModel" [(ngModel)]="service.formData.client_TVA" class="form-control">
     </div></div>
      <div class="form-group ">
        <label >Email
        </label>
        <input name="client_email" #client_email="ngModel" [(ngModel)]="service.formData.client_email" class="form-control">
      </div>
     
    
    </div>
    
  </div>
  

  <!--Table de details de facture -->
  <table class="table table-borderless" >
    <thead class="thead-light">
      <th>client-médiateur</th>
      <th> id-client-final </th>
      <th>client-final</th>
      <th>
        <a  class="btn btn-sm btn-success text-white " (click)="AddOrEditClientFinal(null,service.formData.client_id)"><i class="fa fa-plus"></i> Ajouter client final</a>
      </th>
    </thead>
    <tbody>
 
          <tr >
        <td class="font-italic text-center ml-1" colspan="6">
         N'est pas un client médiateur.
        </td>
      </tr>

      <tr *ngFor="let c of service.clientDetails; let i=index">
        <td>{{c.client_mediator}} </td>
        <td>{{c.final_client_id}} </td>
        <td>{{c.final_client_nom}} </td>
       
        <td>
            <a  class="btn btn-sm btn-info" (click)="AddOrEditClientFinal(i,service.formData.client_id)"><i class="fa fa-pencil"></i></a>
            <a  class="btn btn-sm btn-danger ml-1" (click)="onDeleteClient(clientDetails.final_client_id,i)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>

    </tbody>
  </table>

  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Enregistrer</button>
    <a  class="btn btn-outline-dark ml-1" routerLink="/factures"><i class="fa fa-table"></i> Afficher</a>
  </div>
</form>